name: Build Documentation
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build_deploy:
    if: ${{ github.repository == 'flowforge/forge-ui-components' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out components repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '16'
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run build-docs
      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          publish_dir: dist/docs
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}