name: Lint and Test Components
on:
  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'package.json'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out components repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Node.js
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: '16'
      - run: npm ci
      - run: npm run lint
      - run: npm run test:unit
